.video-player {
  background-color: #000 !important;
  position: fixed !important;
  top: 0;
  left: 0;
  height: calc(100vh - 50px) !important;
  z-index: 1000;
}

.video-player>div:first-child {
  width: 90% !important;
}

img[src*='https://hahow.in/static/media/floating'] {
  display: none;
}

img[src*='https://hahow.in/static/media/floating']+span {
  display: none;
}

.intercom-lightweight-app {
  display: none;
}

li .list-content {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}